%section.features-section.border-bottom
  .container
    .row
      .col-md-6.col-lg-3.margin-b-30
        .feature-box-center.text-center
          %i.ion-iphone
          %h4.text-capitalize Fully Responsive
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
      / /col
      .col-md-6.col-lg-3.margin-b-30
        .feature-box-center.text-center
          %i.ion-ios-person-outline
          %h4.text-capitalize User Friendly
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
      / /col
      .col-md-6.col-lg-3.margin-b-30
        .feature-box-center.text-center
          %i.ion-ios-cog-outline
          %h4.text-capitalize Well Documented
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
      / /col
      .col-md-6.col-lg-3.margin-b-30
        .feature-box-center.text-center
          %i.ion-key
          %h4.text-capitalize Easy & Customizable
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
      / /col
/ end features section