%section.features-section#features-section.border-bottom
  .container
    .row
      .col-md-6.col-lg-3.margin-b-30
        .feature-box-center.text-center
          %i.fa.fa-crop
          %h4.text-capitalize Design
          %p
            By clearly understanding the goals of the project, I design web applications that are designed to accomplish those goals. Careful planning improves the effectiveness of the application while minimizing the cost of revisions as new enhancements are added in the future.
      / /col
      .col-md-6.col-lg-3.margin-b-30
        .feature-box-center.text-center
          %i.fa.fa-laptop
          %h4.text-capitalize User Experience
          %p
            We are obsessively focussed on the user experience of every project we are involved with. We take a wholistic view of user experience, considering all aspects of a user's interaction with the product, from acquisition to successful completion. It really is all about the user!
      / /col
      .col-md-6.col-lg-3.margin-b-30
        .feature-box-center.text-center
          %i.fa.fa-code
          %h4.text-capitalize Code
          %p
            Good software is hard to define. Designing and building simple, use- able, and attractive programs that are fast, efficient, readable and ac- cessible is not easy...it is essential! I develop standards compliant code that is written to be readable, under- standable, and maintainable. This is what good software is all about.
          %p
            Don’t settle for anything less.
      / /col
      .col-md-6.col-lg-3.margin-b-30
        .feature-box-center.text-center
          %i.fa.fa-cogs
          %h4.text-capitalize Product Strategy
          %p
            Bringing your product successfully to market requires more than 'management', it requires vision. Coordinating the various aspects of a successful launch can be daunting. We have brought several products to fruition. From conception, design, user testing, coding, marketing, distribution and support.
      / /col
/ end features section