%section.features-bg
  .container
    .center-title
      %h2 Why choose SAAS
      %p Over 500,000 Customers worldwide
    .row
      .col-md-6
        .feature-icon-left.clearfix
          .icon
            %i.ion-iphone
          .content
            %h4 Fully Responsive!!
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
        / /feature icon
        .feature-icon-left.clearfix
          .icon
            %i.ion-social-google
          .content
            %h4 Google fonts
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
        / /feature icon
        .feature-icon-left.clearfix
          .icon
            %i.ion-ios-copy
          .content
            %h4 Well documented
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
        / /feature icon
      .col-md-6
        .feature-icon-left.clearfix
          .icon
            %i.ion-social-twitter
          .content
            %h4 Bootstrap based
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
        / /feature icon
        .feature-icon-left.clearfix
          .icon
            %i.ion-ios-person
          .content
            %h4 Item Support
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
        / /feature icon
        .feature-icon-left.clearfix
          .icon
            %i.ion-ios-cog
          .content
            %h4 Easy to use
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
        / /feature icon


