%section#home.dzsparallaxer.auto-init.dzsparallaxer---window-height.use-loading{"data-options" => "{  mode_scroll: 'normal' }", :style => "position: relative; height: 800px;"}
  .divimage.dzsparallaxer--target{"data-src" => "assets/images/bg1.jpg", :style => "width: 100%; height: 130%; background-image: url()"}
    .hero-parallax
      .hero-inner
        .hero-content
          .container.text-center
            .row
              .col-md-10.offset-md-1
                .hero-static
                  %h1 We design and build software for customers who appreciate great solutions.
                  -# %p.lead
                  -#   Let's work together!
                  -# .buttons
                  -#   %a.btn.btn-xl.btn-primary.video-popup{:href => "https://www.youtube.com/watch?v=8zxj-6smeVA"}
                  -#     Video Tour
                  -#     %i.ion-play
                  -#   %a.btn.btn-xl.btn-white-border{:href => "#"} Sign Up Free
          / container
        / hero content
      / hero inner
    / parallax hero
  / parallax image div
/ intro section end