%section.pricing-section
  .space-90
  .container
    .center-title
      %h2 Easy plans. Cancel anytime.
      %p All Plans Include a 14 day free trail
    .row
      .col-md-4.margin-b-30
        .price-box
          .price-header
            %h1 Free
            %h4 Basic Plan
          %ul.list-unstyled.price-features
            %li 5 Team Members
            %li 6 Month Support
            %li 10 Pages
            %li 1 Domain
            %li 25 GB Storage
          .price-footer
            %a.btn.btn-rounded.btn-dark-border{:href => "#"} Sign Up
      / /col
      .col-md-4.margin-b-30
        .price-box.best-plan
          .price-header
            %h1
              %span.dolor> $
              9.99
              %span.peroid /Month
            %h4 Pro Plan
          %ul.list-unstyled.price-features
            %li 15 Team Members
            %li 12 Month Support
            %li 30 Pages
            %li 5 Domain
            %li 100 GB Storage
          .price-footer
            %a.btn.btn-rounded.btn-white-border{:href => "#"} Sign Up
      / /col
      .col-md-4.margin-b-30
        .price-box
          .price-header
            %h1
              %span.dolor> $
              29.99
              %span.peroid /Month
            %h4 Gold Plan
          %ul.list-unstyled.price-features
            %li 25 Team Members
            %li 24/7 Support
            %li Unlimited Pages
            %li 10 Domain
            %li Unlimited Storage
          .price-footer
            %a.btn.btn-rounded.btn-dark-border{:href => "#"} Sign Up
      / /col
  .space-60
/ end pricing section