%section.showcase-section.bg-faded#showcase-sonicpics
  .space-90
  .container
    .row.align-items-center
      .col-md-5.offset-md-1.margin-b-30
        %img.img-fluid{:alt => "", :src => "#{image_path('img/iphone.png')}"}/
      .col-md-5.margin-b-30
        %h3
          SonicPics - Digital Story Telling for iOS
        %p.margin-b-20
          SonicPics is a very easy to use tool for turning your images into custom slideshow movies that you can share with your friends online! SonicPics lets you add images from your iPhone's photo library or camera, arrange your photos, and then narrate the project to create an enhanced m4v video (complete with chapters).
        %p.margin-b-20
          Take photos of your kids, special events, weddings, vacations, the new pet, or first day at camp and narrate them with SonicPics!
        = link_to('Learn More', 'http://www.sonicpics.com', target: '_blank', class: ' btn btn-lg btn-primary btn-rounded')
  .space-30
/ end showcase section