%section.steps
  .space-90
  .container
    .center-title
      %h2 Easy to get started. 3 Step process.
      %p Take a look what the people think about our product
    .row
      .col-md-4.margin-b-30
        .step-box
          %h1 01
          %h4 Create Account.
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pellentesque efficitur turpis, vitae dictum dolor tristique in.
      .col-md-4.margin-b-30
        .step-box
          %h1 02
          %h4 Select Plan.
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pellentesque efficitur turpis, vitae dictum dolor tristique in.
      .col-md-4.margin-b-30
        .step-box
          %h1 03
          %h4 Assign Tasks.
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pellentesque efficitur turpis, vitae dictum dolor tristique in.
  .space-60
/ end steps