%section.testimonials.skin-bg#testamonials
  .space-90
  .container
    .center-title
      %h2 True words from our customers.
      %p Over 500,000 Customers worldwide
    .row
      .col-md-4.margin-b-30
        .feedback-box
          %p
            " Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rhoncus magna a lacinia tempor. Fusce et turpis posuere, imperdiet orci et, tempus ex. Nunc vitae pellentesque ipsum. Quisque id magna a nisl vestibulum ullamcorper. "
        .testi-info
          %img.rounded-circle{:alt => "", :src => "#{image_path('img/avtar-1.jpg')}", :width => "60"}/
          .content
            %h4 Nikita Miller
            %em Saas Customer
      .col-md-4.margin-b-30
        .feedback-box
          %p
            " Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rhoncus magna a lacinia tempor. Fusce et turpis posuere, imperdiet orci et, tempus ex. Nunc vitae pellentesque ipsum. Quisque id magna a nisl vestibulum ullamcorper. "
        .testi-info
          %img.rounded-circle{:alt => "", :src => "#{image_path('img/avtar-2.jpg')}", :width => "60"}/
          .content
            %h4 John Doe
            %em Saas Customer
      .col-md-4.margin-b-30
        .feedback-box
          %p
            " Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rhoncus magna a lacinia tempor. Fusce et turpis posuere, imperdiet orci et, tempus ex. Nunc vitae pellentesque ipsum. Quisque id magna a nisl vestibulum ullamcorper. "
        .testi-info
          %img.rounded-circle{:alt => "", :src => "#{image_path('img/avtar-3.jpg')}", :width => "60"}/
          .content
            %h4 Emily Howkins
            %em Saas Customer
  .space-60
/ end testimonials section