.container.col-md-10#about_our_name

  %p
  The name Humble Daisy comes from the name of a song from one of our favorite bands, XTC. XTC has been with us since the late 1970's and has aged and mellowed well. They are intelligent, witty, philosophical and honorable. As a band they possess the simple elegance that humble daisy aspires to. Here are the lyrics to the original song by XTC.

  %p
  Humble Daisy - Andy Partridge, XTC

  %p
    Humble Daisy
    %br
    Form a chain to hold all battleships in check
    %br
    Humble Daisy
    %br
    Knit a ladder down to nature's sunken wreck
    %br
    Ragged rug unbound
    %br
    Tangle trip the lovers
    %br
    Royal barge aground
    %br
    Brighter than all of the others on the window sill
    %br
    I'll sing about you if nobody else will
    %br
    Humble Daisy
    %br
    Cast the milk and coins of morning's cash about
    %br
    Humble Daisy
    %br
    I fell down to heaven as you picked me out
    %br
    We'll look up together
    %br
    Browsing through some old sky
    %br
    Sipping in the weather
    %br
    You've got me dizzy, the fly that climbed the sugar hill
    %br
    I'll lay upon you 'till somebody else will
    %br
    Humble Daisy
    %br
    We'll look up together

    %hr

  %p
    When asked about the song "Humble Daisy" Andy Partridge responded; `A paean to the person and the weed. There's a wonderful field where I walk my dog and overnight these big daisies came up. So the song's in praise of that glorious weed. As for some of the words, I have no idea what they mean - but they're pictorially gorgeous.' This is from the writer of the song...

  %p
    I like the phrase "in praise of that glorious weed", especially for a small business. The lyrics to me are compelling. A tribute to a beautiful weed with the last line that says "We'll look up together..." I couldn't think of a better name for a company! David

  %p
    DAISY: The word Daisy comes from the Old English 'day's eye'. This implied that the flower opened in the morning and closed at night.

  %p
    The Daisy family or Compositae family is thought to be the largest genus with over 1200 species. It includes lots of popular garden plants like Chrysanthemums, Dahlias, Sunflowers, Asters and Calendulas (Marigolds).

  %p
    <a name="Paean"></a>pae&middot;an also pe&middot;an n.
    %br
    %ol
      %li
        A song of joyful praise or exultation.
      %li
        A fervent expression of joy or praise: "The art... was a paean to paganism" (Will Durant).
      %li
        An ancient Greek hymn of thanksgiving or invocation, especially to Apollo.
  %hr
  %p
    [Latin paen, hymn of thanksgiving, often addressed to Apollo, from Greek pain, from Pai, a title of Apollo.]

  %p
    To learn more about the name Humble Daisy, visit our
    = link_to('About Us', about_path)
    page.