
.container#about
  %p
  Humble Daisy was founded in 2002 with the goal of providing simple and elegant solutions for those who appreciate such things. We seek people who understand the importance of putting their users first and work diligently to make user centered designs. Our designs facilitate success while expressing the unique qualities that make each of us special.
  %p
  To learn more about the name Humble Daisy, visit our
  = link_to "About Our Name", about_our_name_path
  page.
  %p
  To contact Humble Daisy Designs for you next web project, visit our
  = link_to "Contact Us", contact_path
  page.