
%footer.footer.footer_mst3k
  .space-50
  .container
    .row.vertical-align-child
      .col-md-3.margin-b-30
        .margin-b-20
          = link_to(image_tag('logo.png', class: 'logo-default header-logo'), root_path)
        %p
          Humble Daisy in a solution development company located in Ann Arbor, MI
      .col-md-2.margin-b-30
        %ul.list-unstyled
          %li
            = link_to('About', about_path)
          %li
            = link_to "Privacy Policy", privacy_path

      .col-md-5.margin-b-30
        %ul.list-inline.social

          %li.list-inline-item

            %a{:href => "https://twitter.com/humbledaisy",  target: '_blank', alt: 'Follow us on twitter'}
              %i.fa.fa-twitter

          %li.list-inline-item
            %a{:href => "http://lnkd.in/VuU9xY",  target: '_blank', alt: 'Check me out on LinkedIn'}
              %i.fa.fa-linkedin
          -# %li.list-inline-item
          -#   = mail_to("dschmura@humbledaisy.com", "", subject: "ManonaM", encode: :javascript, class: "fa fa-envelope fa-3x wow bounceIn connect_icons", "data-original-title" => "Send me an email, if you must.", rel: :tooltip, "data-placement" => :bottom)
          %li.list-inline-item
            = link_to( contact_url) do
              %i.fa.fa-envelope
      %span © Copyright 2016 - 2020
