#preloader
  #preloader-inner
/ /preloader
/ back to top
%a.scrollToTop{:href => "#"}
  %i.ion-ios-arrow-up
/ back to top end
/ Static navbar
%nav.navbar.navbar-toggleable-md.navbar-light.fixed-top.navbar-transparent.clearfix
  / Start Top Search
  .top-search.clearfix
    .container
      .input-group
        %span.input-group-addon
          %i.ion-search
        %input.form-control{:placeholder => "Search", :type => "text"}/
        %span.input-group-addon.close-search
          %i.ion-android-close
  / End Top Search
  .clearfix
  .container
    %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarNavDropdown", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavDropdown", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    -# = link_to('', root_path, class: 'navbar-brand')
    %a.navbar-brand{:href => "../"}

      -# %img.logo-default{:alt => "", :src => "assets/images/logo-light.png"}/
      -# %img.logo-scroll{:alt => "", :src => "assets/images/logo.png"}/
      = image_tag('logo.png', class: 'logo-default header-logo')
      = image_tag('logo-light.png', class: 'logo-scroll header-logo')
    #navbarNavDropdown.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        %li.nav-item
          =link_to("Home", root_path, class: 'nav-link')
        %li.nav-item
          =link_to("Features", "#features-section", class: 'nav-link' )
        %li.nav-item
          =link_to("Showcase", "#showcase-web", class: 'nav-link' )

        -# %li.nav-item
        -#   =link_to("Testamonials", "#testamonials", class: 'nav-link' )

        %li.nav-item.dropdown
          %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "http://example.com", :role => ""}
            Showcase
          %ul.dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdownMenuLink"}
            %li
              =link_to("Showcase Overview", "#showcase-web", class: 'nav-link' )
            %li
              =link_to("Web Showcase", "#showcase-web", class: 'dropdown-item' )

            %li
              =link_to("Showcase SonicPics", "#showcase-sonicpics", class: 'dropdown-item' )
            %li
              =link_to("Showcase ProfCast", "#showcase-profcast", class: 'dropdown-item' )
        %li.nav-item
          |
        %li.nav-item
          =link_to("About", about_path, class: 'nav-link')
        %li.nav-item
          =link_to("Contact", contact_url, class: 'nav-link' )




    -#     %li.nav-item
    -#       %a.btn.btn-rounded.btn-primary.nav-link{:href => "#"} Free Trail
    -# / Start search Navigation
    -# .search-nav.float-right
    -#   %a{:href => "javascript:void(0)"}
    -#     %i.fa.fa-search
/ navbar end