#preloader
  #preloader-inner
/ /preloader
/ back to top
%a.scrollToTop{:href => "#"}
  %i.ion-ios-arrow-up
/ back to top end
/ Static navbar
%nav.navbar.navbar-toggleable-md.navbar-light.fixed-top.navbar-transparent.clearfix
  / Start Top Search
  .top-search.clearfix
    .container
      .input-group
        %span.input-group-addon
          %i.ion-search
        %input.form-control{:placeholder => "Search", :type => "text"}/
        %span.input-group-addon.close-search
          %i.ion-android-close
  / End Top Search
  .clearfix
  .container
    %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarNavDropdown", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavDropdown", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    %a.navbar-brand{:href => "index.html"}
      -# %img.logo-default{:alt => "", :src => "assets/images/logo-light.png"}/
      -# %img.logo-scroll{:alt => "", :src => "assets/images/logo.png"}/
      = image_tag('HumbleDaisy_Logo.png', class: 'logo-default header-logo')
      = image_tag('HumbleDaisy_Logo.png', class: 'logo-scroll header-logo')
    #navbarNavDropdown.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        %li.nav-item.dropdown
          %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "http://example.com", :role => ""}
            Home
          %ul.dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdownMenuLink"}
            %li
              %a.dropdown-item{:href => "index.html"} Home Parallax
            %li
              %a.dropdown-item{:href => "index-slider.html"} Home Slider
            %li
              %a.dropdown-item{:href => "index-video.html"} Home Video
            %li
              %a.dropdown-item{:href => "index-static-image.html"} Home Static Image
            %li
              %a.dropdown-item{:href => "index-boxed.html"} Home Boxed Demo
            %li
              %a.dropdown-item{:href => "index-onepage.html"} One page layout
        %li.nav-item.dropdown
          %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "http://example.com", :role => ""}
            Features
          %ul.dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdownMenuLink"}
            %li
              %a.dropdown-item{:href => "features.html"} Features
            %li
              %a.dropdown-item{:href => "feature-detail.html"} Feature Detail
            %li
              %a.dropdown-item{:href => "services.html"} Services
            %li
              %a.dropdown-item{:href => "typography.html"} Typography
        %li.nav-item
          %a.nav-link{:href => "pricing.html"} Pricing
        %li.nav-item.dropdown
          %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "http://example.com", :role => ""}
            Pages
          %ul.dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdownMenuLink"}
            %li
              %a.dropdown-item{:href => "about.html"} About Us
            %li
              %a.dropdown-item{:href => "contact.html"} Contact Us
            %li
              %a.dropdown-item{:href => "testimonials.html"} Testimonials
            %li
              %a.dropdown-item{:href => "login.html"} Login
            %li
              %a.dropdown-item{:href => "register.html"} Register
            %li
              %a.dropdown-item{:href => "faq.html"} Faqs
            %li
              %a.dropdown-item{:href => "gallery.html"} Gallery
            %li
              %a.dropdown-item{:href => "error-404.html"} Error 404
        %li.nav-item.dropdown
          %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "http://example.com", :role => ""}
            Blog
          %ul.dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdownMenuLink"}
            %li
              %a.dropdown-item{:href => "blog-standard.html"} Blog Standard
            %li
              %a.dropdown-item{:href => "blog-masonry.html"} Blog Masonry
            %li
              %a.dropdown-item{:href => "blog-post.html"} Single Post
        %li.nav-item
          %a.btn.btn-rounded.btn-primary.nav-link{:href => "#"} Free Trail
    / Start search Navigation
    .search-nav.float-right
      %a{:href => "javascript:void(0)"}
        %i.ion-search
/ navbar end